//
   Created by Manash on 7/1/2016.

//Jade function for rating stars
mixin outputRating(rating)
    - for (var i = 1; i <= rating; i++)
        span.glyphicon.glyphicon-star
    - for (i = rating; i < 5; i++)
        span.glyphicon.glyphicon-star-empty